body {
  background: url(../img/grey-bg.jpg) fixed center;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

.dev-console {

	margin-right: 5em;
}

.make-it-rain:hover {
	color: black;
	cursor: crosshair;
}

.alert {
  position: absolute;
  background: #e8534f;
  height: auto;
  width: 100%;
  padding: 20px;
  text-align: center;
  display:;
}

.alert h2 {
  
  color: white;
  font-weight: 200;
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.shutme {
	position: absolute;
	bottom: 1em;
	right: 1em;
	color: #626262;
}

.weather-container {
	text-align: center;
	margin-top: 5em;
}

.subscript {
	position: relative; 
	top: -0.5em;
	font-size: 0.5em;
}

.temp-num {
    color: #e8534f;
    font-size: 8em;
    font-weight: 200;
    margin-top: 0;
    padding-top: 0;
}

.temp-text {
    color: #626262;
    font-size: 2em;
    font-weight: 200;
    margin-top: 0;
    padding-top: 0;
}

.weather-icon {
	width: 22em;
	height: auto;
	margin: 0 auto;
}

.weath-icon {
	color: #626262;
}

* {
  @include box-sizing(border-box);
}

$search-height: 40px;
$search-width: 200px;

.search {
  height: $search-height;
  overflow: hidden;
  position: relative;
  width: $search-height;
  @include transition(width 0.2s ease-in-out);
  .search-toggle {
    background: #000;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: $search-height;
    width: $search-height;
    text-indent: -9999px;
    text-decoration: none;
  }
  form {
    display: none;
  }
  input {
    border: 1px solid #ccc;
    height: $search-height;
    line-height: $search-height;
    padding: 0 $search-height 0 5px;
    width: $search-width;
  }
  button {
    background: #000;
    border: none;
    display: block;
    height: $search-height;
    width: $search-height;
    position: absolute; 
    top: 0;
    right: 0;
    text-indent: -9999px;
  }
  &.open {
    width: $search-width + $search-height;
    .search-toggle {
      display: block;
      background: none;
      text-indent: 0;
      height: $search-height / 2;
      width: $search-height / 2;
      top: 50%;
      margin-top: -$search-height / 4;
      right: $search-height + 10px;
    }
    form {
      display: block;
    }
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.time {
	position: absolute;
	bottom: 1em;
	right: 1em;
  color: #626262;
  font-weight: 200;
  font-size: 3em;
}

.map-button {
	position: absolute;
	bottom: 3em;
	left: 3em;
}

.map {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 15em;
	height: 15em;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;

}

.map-shadow {
}

/* Map */

    #map-canvas { height: 100%; margin: 0; padding: 0;-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
border-top-right-radius: 10px;}
    #map-canvas { height: 15em; }

/* Dashboard */

.dashboard {
	background: url(../dashboard.jpg);
	background-size: cover;
	width: 100%;
	height: auto;
}